.product-card {
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  height: 100%;
  max-height: 500px;
  width: 20.3125%;
  max-width: 300px;
  border: 1px solid transparent;
}

.product-card:hover {
  border: 1px solid black;
}

.product-card img {
  width: 100%;
  height: 100%;
}

.card-img {
  position: relative;
}

.card-img span {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.1rem;
}

.card-img .price-detail {
  flex-wrap: wrap;
  font-size: 14px;
  gap: 3px;
  position: absolute;
  left: 5px;
  right: unset;
  top: unset;
  bottom: 0;
}

.product-card .content {
  position: relative;
}

.discount {
  padding: 2px 5px 2px 5px;
  width: fit-content;
  display: inline-block;
  background-color: white;
}

.product-description {
  margin-top: 10px;
  padding-left: 10px;
}

.color-grey {
  color: #767677;
}

@media screen and (max-width: 600px) {
  .card-img span {
    right: 10px;
    top: 10px;
  }

  .product-card {
    width: 40vw;
  }
}

@media screen and (max-width: 200px) {
  .product-card {
    width: 100vw;
  }
}