.logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: url("https://www.adidas.co.in/glass/react/cc35342/assets/img/icon-adidas-logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  top: -17px;
}

/* <Flyer title="title" imageUrl="" content="" buttons={[ ]}/> */

@media screen and (max-width: 960px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}
