.menu-right {
  gap: 1rem;
  margin-left: auto;
}

.icon-group {
  font-size: 1.3rem;
}

.icon-group div {
  width: 3rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .menu-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 960px) {
  .icon-group div {
    width: 2rem;
  }
}
