.table {
    text-align: center;
    border: 0px solid #767677;
    border-width: 1px 1px 0 1px;
}

.table-cell {
    padding: 15px 20px;
    width: 100%;
    border-bottom: 1px solid #767677;
    border-right: 1px solid #767677;
}

.table-cell:last-child {
    border-right: none;
    background-color: #eceff1;
}

.table-head .table-cell {
    background-color: black;
    color: white;
}

.table-row {
    display: flex;
    flex: 1 1 120px;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100%;
}