@use "./variables" as *;

.vspace {
  &-none {
    margin-top: $spacing-0;
  }
  &-xs {
    margin-top: $spacing-10;
  }
  &-s {
    margin-top: $spacing-15;
  }
  &-m {
    margin-top: $spacing-40;
  }
  &-l {
    margin-top: $spacing-80;
  }
}
