$spacing-0: 0px;
$spacing-5: 5px;
$spacing-10: 10px;
$spacing-15: 15px;
$spacing-20: 20px;
$spacing-30: 30px;
$spacing-40: 40px;
$spacing-60: 60px;
$spacing-80: 80px;
$spacing-100: 100px;
$spacing-120: 120px;
$spacing-150: 150px;
