.popular {
  padding: 0 15px;
}

.popular-title {
  top: -13px;
  position: relative;
  letter-spacing: 1px;
}

.popular .btn-group {
  margin-top: 1.3rem;
  gap: 0.65rem;
}

.popular .btn-group a {
  border: 1px solid #d3d7da;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .popular .btn-group {
    margin-top: 15px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }
  .popular .popular-title {
    top: unset;
    justify-content: flex-start;
  }
}
